<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про Django</title>
</head>
<body>
    <h1>Ласкаво просимо на сайт про Django</h1>
    <p>На цьому сайті ви знайдете корисну інформацію про Django - потужний веб-фреймворк для розробки веб-додатків на мові програмування Python.</p>
    <p>Ви можете дізнатися про ключові особливості Django, швидкість розробки, безпеку за замовчуванням, вбудовану адміністративну панель та багато іншого.</p>
    <p>Щоб почати використовувати Django, вам знадобиться встановити Python та Django, створити новий проєкт Django і запустити його веб-сервер.</p>
    <p>Не соромтеся розглядати наші статті, розділи та підручники для отримання більш детальної інформації.</p>
    <p>Бажаємо вам приємного використання Django!</p>

</body>
</html>